<template>
  <ul class="list-group">
    <li
      class="list-group-item"
      v-for=" server in servers">
      <my-server-status :server="server"></my-server-status>
    </li>
  </ul>
</template>

<script>
  import ServerStatus from '../ServerStatus';
  export default {
    props: ['servers'],
    components: {
      'my-server-status': ServerStatus
    }
  }
</script>
