<template>
  <div>
    <p>Server #{{ activeServer.id }} - {{ activeServer.status}}</p>
    <button @click="changeServerStatus('Normal')">Normal</button>
    <button @click="changeServerStatus('Unknown')">Unknown</button>
    <button @click="changeServerStatus('Rebooting')">Rebooting</button>
    <button @click="changeServerStatus('Critical')">Critical</button>
  </div>
</template>

<script>
  import { EventBus } from '../../EventBus';
  import ServerStatus from '../ServerStatus';
  export default {
    props: ['activeServer'],
    methods: {
      changeServerStatus( serverStatus ){
        EventBus.emitServerStatusChange( { id: this.activeServer.id, status: serverStatus } );
      }
    }
  }
</script>
