<template>
  <div @click="setActiveServer( server )">
      Server #{{ server.id }}
  </div>
</template>

<script>
  import { EventBus } from '../../EventBus';

  export default {
    props: ['server'],
    methods: {
      setActiveServer( server ) {
        EventBus.emitActiveServer( server );
      }
    }
  }
</script>
