<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
              <my-header></my-header>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
              <my-servers
                :servers="servers"
              ></my-servers>
            </div>
            <div class="col-xs-12 col-sm-6">
              <my-server-details :activeServer=" getActiveServer() "></my-server-details>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12">
              <my-footer></my-footer>
            </div>
        </div>
    </div>
</template>

<script>
  import Header from './components/Header/';
  import Footer from './components/Footer/';
  import Servers from './components/Servers';
  import ServerDetails from './components/ServerDetails';
  import ServerStatus from './components/ServerStatus';
  import { EventBus } from './EventBus';
  export default {
    data: ()=> {
      return {
        servers: [
          { id: 1, status: 'Normal' },
          { id: 2, status: 'Critical' },
          { id: 3, status: 'Rebooting' },
          { id: 4, status: 'Unknown' },
          { id: 5, status: 'Normal' },
        ],
        activeServerID: 1
      }
    },
    components: {
      'my-header': Header,
      'my-footer': Footer,
      'my-server-details': ServerDetails,
      'my-server-status': ServerStatus,
      'my-servers': Servers
    },
    methods: {
      getActiveServer(){
        return this.servers.find( ( { id } ) => id=== this.activeServerID );
      },
      setActiveServer( server ){
        this.activeServerID = server.id;
      },
      updateServerStatus( { id, status } ) {
        this.servers = this.servers.map( ( server ) => {
          if( server.id !== id ) {
            return server;
          }
          return {
            id,
            status
          }
        });
      }
    },
    created() {
      EventBus.$on( 'activeServerSet', ( { id } ) => this.activeServerID = id );
      EventBus.$on( 'serverStatusChange', ( server )=> this.updateServerStatus( server ))
    }
  }
</script>

<style>

</style>
